In [100]:
import pandas as pd
import numpy as np
import datetime

In [101]:
def Get_Data_Files(start_date='190706', num_of_files=3):
    """
    Pull files from NYCT site and merge them.
    URL: http://web.mta.info/developers/turnstile.html
    ---
    df = Get_Data_Files(start_date, num_of_files)
        start_date: The first date of the newest data file you wish to download (format = "yymmdd")
        num_of_files: Number of data files to download and merge dated by start_date, 
                      then all older files in previous weeks 
    """
    Next_Date = lambda date: (datetime.datetime.strptime(date, "%y%m%d") \
                              - datetime.timedelta(days=7)).strftime("%y%m%d")
    Get_FileName = lambda date: "http://web.mta.info/developers/data/nyct/turnstile/turnstile_" \
                              + date + ".txt"
    
    df = pd.DataFrame()
    req_date = start_date
    for i in range(num_of_files):
        print(">> Download and merging this:", Get_FileName(req_date))
        df2 = pd.read_csv(Get_FileName(req_date))
        df = df.append(df2, ignore_index=True)
        req_date=Next_Date(req_date)
    return df

In [102]:
df = Get_Data_Files('190629', 3)

>> Download and merging this: http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt
>> Download and merging this: http://web.mta.info/developers/data/nyct/turnstile/turnstile_190622.txt
>> Download and merging this: http://web.mta.info/developers/data/nyct/turnstile/turnstile_190615.txt

In [103]:
df.sample(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
140983,R159,R164,01-00-03,66 ST-LINCOLN,1,IRT,06/27/2019,05:00:00,REGULAR,8184284,7202184
419707,A042,R086,01-00-00,PRINCE ST,NRW,BMT,06/13/2019,16:00:00,REGULAR,1285149,8636836
411492,R730,R431,00-00-02,EASTCHSTER/DYRE,5,IRT,06/15/2019,21:00:00,REGULAR,3328938,2971886
137279,R141,R031,00-03-02,34 ST-PENN STA,123,IRT,06/26/2019,08:00:00,REGULAR,156645,63180
15024,B019,R149,00-00-02,NEWKIRK PLAZA,BQ,BMT,06/24/2019,05:00:00,REGULAR,218246,282277
583796,R302,R324,01-00-02,116 ST,23,IRT,06/14/2019,05:00:00,REGULAR,8031813,1420465
401448,R600,R224,00-00-03,CLARK ST,23,IRT,06/15/2019,16:00:00,REGULAR,13342311,10683241
390990,R508,R346,00-03-00,COURT SQ,7,IRT,06/16/2019,04:00:00,REGULAR,6709565,5763723
568457,R226,R131,02-05-02,23 ST,6,IRT,06/12/2019,09:00:00,REGULAR,77163,209178
156940,R229,R143,01-00-04,28 ST,6,IRT,06/25/2019,12:52:13,REGULAR,11377674,8939960